<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 수업내용 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} %highlight(%-5level) %logger{36} -- %msg%n</pattern>
    </encoder>
  </appender>
  

  <!-- root logger -->
  <root level="DEBUG">  <!-- DEBUG를 INFO 로 변경하면 내용이 많이 줄어든다. -->
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>